.titleContainer {
  margin-top: 15rem;
  position: relative;

  .title {
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--color-black50);

    span {
      color: var(--color-orange);
    }
  }

  img {
    width: 150px;
    position: absolute;
    top: -20px;
    right: -150px;
    transform: rotateY(180deg);
  }
}